@import './partials/nav';
@import './partials/reset';
@import './partials/showcase';
@import './partials/general';
@import './partials/about';
@import './partials/form';
@import './partials/contact';
@import './partials/work';

body {
  background: #112352;
  font-family: sans-serif;
  color: white;
}
