#about {
  height: 100vh;
  margin: 2rem 0;
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    margin: 1rem 0;
  }
}

#techs {
  h3 {
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  div {
    margin: 1rem 2rem;
  }

  li {
    list-style: none;
    padding: 1rem 0;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 600px) {
    .flex {
      display: block;
    }
  }
}
